.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: blueviolet;
    margin: 0;
    font-size: 40px;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search input{
    color: blueviolet;
    border-color: aquamarine;
}
.nav .nav-search button{
        color: blueviolet;
    border-color: aquamarine;
}