.seller-signup {
    text-align: center;
    color: blueviolet;
    margin-bottom: 50px;
    margin-top: 80px;

}

.auto-toggle-link
{
    color: blueviolet;
    margin-left: 30%;
    margin-top: 4px;
}